﻿@model ActivityManager.Models.Team

@{
    ViewBag.Title = "Edit";
}

<h2>@ViewBag.Title</h2>
<form method="post" action="/Team/Edit/@Model.Id">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.HiddenFor(m => m.Id)
    <div class="panel panel-default">
        <div class="panel-body">
            <strong> @Html.Label("Name", "Name") </strong>
            <br />
            @Html.TextBox("Name", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger " })
        </div>
        <div class="panel-footer">
            <button class="btn btn-sm btn-success" type="submit">Save</button>
            <a class="btn btn-sm btn-danger" href="/Team/Show/@Model.Id">Cancel</a>
        </div>
    </div>
</form>