﻿@{
    ViewBag.Title = "Teams";
}

<h1>
    @ViewBag.Title
    <a href="@Url.Action("New", "Team")" class="btn btn-success" role="button" style="float: right;"> Add new team</a>
</h1>


@foreach (var team in ViewBag.Teams)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <form method="post" action="/Team/Delete/@team.Id">
                <a class="btn btn-sm btn-success" href="/Team/Show/@team.Id">Team Details</a>
                @if (@team.OrganizerId == ViewBag.UserId || ViewBag.isAdmin)
                {
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button class="btn btn-sm btn-danger" type="submit"> Delete </button>
                }

            </form>
        </div>
        <div class="panel-body">
            <h2>@team.Name</h2>
        </div>
        <div class="panel-footer">
            <h4>
                <strong>
                    Members
                </strong>
            </h4>
            <br />
            <ul class="list-group">
                @foreach (var userTeam in team.UserTeams)
                {
                    <li class="list-group-item">
                        @userTeam.User.Email
                        @if (userTeam.User.Id == team.OrganizerId)
                        {
                            <strong><em> - Organizer </em></strong>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
}
