﻿@model ActivityManager.Models.Team

@{
    ViewBag.Title = "New team";
}

<h2>@ViewBag.Title</h2>



<div class="panel panel-default">
    <form method="post" action="/Team/New">
        <div class="panel-body">
            @Html.Label("Name", "Name")
            <br />
            @Html.TextBox("Name", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger " })
            <br />
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-sm btn-success"> Add </button>
            <a class="btn btn-sm btn-danger" href="">Cancel</a>
        </div>
    </form>
</div>

