﻿@model ActivityManager.Models.Team

@{
    ViewBag.Title = "Team " + @Model.Name;
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.message != null)
{
    <br />
    <div class="alert alert-success" role="alert">
        <h4>@ViewBag.message</h4>
    </div>
}

<div class="panel panel-default">
    <div class="panel-heading">
        <a href="/Team/Index" class="btn btn-sm btn-success" role="button"> Back to teams</a>
        @if (@ViewBag.isOrganizerOrAdministrator)
        {
            <a class="btn btn-sm btn-success" href="/Team/Edit/@Model.Id">Edit team</a>
            <a href="@Url.Action("New", "Project", new { teamId = @Model.Id })" class="btn btn-sm btn-success" role="button"> Add new project</a>
            <a href="@Url.Action("New", "UserTeam", new { teamId = @Model.Id })" class="btn btn-sm btn-success" role="button"> Add a new member </a>
        }
    </div>


    <div class="panel-footer">
        <h3>Projects</h3>
        @foreach (var project in Model.Projects)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    @project.Name
                </div>
                <div class="panel-body">
                    @project.Description
                </div>
                <div class="panel-footer">
                    <form method="post" action="/Project/Delete/@project.Id">
                        <a href="@Url.Action("Show", "Project", new { id = project.Id })" class="btn btn-sm btn-success" role="button"> View</a>
                        @if (@ViewBag.isOrganizerOrAdministrator)
                        {
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="btn btn-sm btn-danger" type="submit"> Delete </button>
                        }
                    </form>
                </div>
            </div>
        }


        <h3>Tasks</h3>
        @foreach (var task in Model.Tasks)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    @task.Title
                </div>
                <div class="panel-body">
                    <strong>Project: </strong> @task.Project.Name
                    <br />
                    <strong>Description: </strong> @task.Description
                    <br />
                </div>
                <div class="panel-footer">
                    <a href="@Url.Action("Show", "Task", new { id = task.Id })" class="btn btn-sm btn-success" role="button"> View</a>
                </div>
            </div>
        }


        <h3>Members</h3>

            @foreach (var member in Model.UserTeams)
            {
                
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @member.User.Email
                            @if (member.User.Id == Model.OrganizerId)
                            {
                                <strong><em> - Organizer</em></strong>
                            }
                        </div>

                        @if (@ViewBag.isOrganizerOrAdministrator)
                        {
                            <div class="panel-footer">
                                <form method="post" action="/UserTeam/Delete/?userId=@member.UserId&teamId=@member.TeamId">

                                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                                    <button class="btn btn-sm btn-danger" type="submit"> Delete </button>
                                </form>
                            </div>
                        }
                    </div>
                
            }
        
    </div>
</div>
