﻿@model ActivityManager.Models.Task

@{
    ViewBag.Titlu = "Edit task";
}

<h2>@ViewBag.Titlu </h2>

@if (TempData.ContainsKey("error"))
{
    <br />
    <div class="alert alert-danger" role="alert">
        <h4>@TempData["error"]</h4>
    </div>
}

<div class="panel panel-default">
    <form method="post" action="/Task/Edit/@Model.Id">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HttpMethodOverride(HttpVerbs.Put)
        @Html.HiddenFor(m => m.Id)
        <div class="panel-body">
            @Html.Hidden("ProjectId", Model.ProjectId, new { @class = "form-control" })
            @if (ViewBag.SeeAll)
            {
                @Html.Label("Title", "Title")
                <br />
                @Html.TextBox("Title", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger " })
                <br />
                @Html.Label("Description", "Description")
                <br />
                @Html.TextArea("Description", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger " })
                <br />
            }
            else
            {
                @Html.HiddenFor(m => m.Title);
                @Html.HiddenFor(m => m.Description);
                @Html.HiddenFor(m => m.AssignedToId);
                @Html.HiddenFor(m => m.StartDate);
                @Html.HiddenFor(m => m.EndDate);
            }
            <label>Select status</label>
            @Html.DropDownListFor(m => m.TaskStatusId, new SelectList(Model.TaskStatuses, "Value", "Text"), "Select status", new { @class = "form-control" })
            <br />

            @if (TempData.ContainsKey("message"))
            {
                <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
                <br />
            }
            @if (ViewBag.SeeAll)
            {
                <label>Assigned to </label>
                @Html.DropDownListFor(m => m.AssignedToId, new SelectList(Model.TeamPersons, "Value", "Text"), "Select person", new { @class = "form-control" })
                <br />
                <label>Start date</label>
                <br />
                @Html.TextBoxFor(m => m.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                <br />
                <label>End date</label>
                <br />
                @Html.TextBoxFor(m => m.EndDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
            }
        </div>

        <div class="panel-footer">
            <button class="btn btn-sm btn-success" type="submit"> Save </button>
            <a class="btn btn-sm btn-danger" href="/Task/Show/@Model.Id"> Cancel </a>
        </div>
    </form>
</div>