﻿@model ActivityManager.Models.Task

@{
    ViewBag.Titlu = "New task";
}

<h2>@ViewBag.Titlu</h2>

<div class="panel panel-default">
    <form method="post" action="/Task/New">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="panel-body">
            @Html.Label("Title", "Title")
            <br />
            @Html.TextBox("Title", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger " })
            <br />
            @Html.Label("Description", "Description")
            <br />
            @Html.TextArea("Description", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger " })
            <br />
            @Html.Hidden("ProjectId", Model.ProjectId, new { @class = "form-control" })
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-sm btn-success"> Add </button>
            @if (@Model.ProjectId != 0)
            {
                <a class="btn btn-sm btn-danger" href="/Project/Show/@Model.ProjectId">Cancel</a>
            }
        </div>
    </form>
</div>