﻿@model ActivityManager.Models.Task

@{
    ViewBag.Title = "Task " + @Model.Title;
}

@if (ViewBag.message != null)
{
    <br />
    <div class="alert alert-success" role="alert">
        <h4>@ViewBag.message</h4>
    </div>
}

<h2>@ViewBag.Title</h2>

<div class="panel panel-default">
    <div class="panel-heading">

        <form method="post" action="/Task/Delete/@Model.Id">
            <a class="btn btn-sm btn-success" href="/Task/Edit/@Model.Id">Edit</a>
            <a class="btn btn-sm btn-success" href="/Project/Show/@Model.ProjectId">Back to project</a>

            @if (ViewBag.afisareButoane == true && Model.CreatedById == ViewBag.utilizatorCurent || ViewBag.esteAdmin)
            {

                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="btn btn-sm btn-danger" type="submit">Delete task</button>

            }
        </form>
    </div>
    <div class="panel-body">
        <strong> Description: </strong> @Model.Description
        <br />
        <strong> Status: </strong> @Model.TaskStatus.Status
        <br />
        @if (@Model.AssignedToId != null)
        {
            <label> Assigned to: </label> @Model.AssignedTo.Email
            <br />
        }
        @if (@Model.StartDate != null)
        {
            <label> Start date: </label> @Model.StartDate
            <br />
        }
        @if (@Model.EndDate != null)
        {
            <label> End date: </label> @Model.EndDate
            <br />
        }
        <strong> Created on: </strong> @Model.CreatedOn
        <br />
        <strong> Created by: </strong> @Model.CreatedBy.Email
        <br />
    </div>
    <div class="panel-footer">
        <h3>
            Comentarii
            <a href="@Url.Action("New", "Comment", new { taskId = @Model.Id })" class="btn btn-sm btn-success" role="button" style="float: right;"> Add new comment</a>
        </h3>
        @foreach (var comment in Model.Comments)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    @comment.User.Email
                    <span style="float: right;"> @comment.CreatedOn </span>
                </div>
                <div class="panel-body">
                    <p>@comment.Content </p>
                </div>
                @if (@comment.User.Id == @ViewBag.utilizatorCurent)
                {
                    <div class="panel-footer">
                        <form method="post" action="/Comment/Delete/@comment.Id">
                            <a class="btn btn-sm btn-success" href="/Comment/Edit/@comment.Id"> Edit </a>
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="btn btn-sm btn-danger" type="submit"> Delete </button>
                        </form>
                    </div>
                }
            </div>
            <br /><br />
        }

    </div>
</div>
<br />

