﻿@{
    ViewBag.Title = "Home Page";
}

@if (ViewBag.message != null)
{
    <br />
    <div class="alert alert-warning" role="alert">
        <h4>@ViewBag.message</h4>
    </div>
}
<div class="jumbotron">
    <h1>Activities Management Application</h1>
    <h6><em>Made by Armeanu Ana Maria & Ivan Theodor Catalin</em></h6>
    @if (ViewBag.isAdmin || ViewBag.isUser)
    {
        <p><a class="btn btn-default btn-lg btn-block" role="button" href="/Team/Index">Teams &raquo;</a></p>
        if (ViewBag.isAdmin)
        {
            <p><a class="btn btn-default btn-lg btn-block" href="/User/Index">Users &raquo;</a></p>
        }
    }
    else
    {
        <h4>Log in or register in order to use this application.</h4>
    }
</div>

    <div class="jumbotron" style="width:50%; height:auto;  margin: 0 auto;">
        <div class="container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin: 0 auto;">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Content/Images/1stImg.jpg" alt="Los Angeles" style="width:100%;">
                    </div>

                    <div class="item">
                        <img src="~/Content/Images/2ndImg.jpg" alt="Chicago" style="width:100%;">
                    </div>

                    <div class="item">
                        <img src="~/Content/Images/3rdImg.jpg" alt="New york" style="width:100%;">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
