﻿@model ActivityManager.Models.UserTeam

@{
    ViewBag.Title = "New";
}

<h2>New</h2>

<form method="post" action="/UserTeam/New">
    <div class="panel-body">
        @Html.Hidden("TeamId", Model.TeamId, new { @class = "form-control" })
        <label>User</label>
        @Html.DropDownListFor(m => m.UserId, new SelectList(Model.AllUsers, "Value", "Text"), "Select user", new { @class = "form-control" })
        <br />

    </div>
    <div class="panel-footer">
        <button class="btn btn-sm btn-success" type="submit"> Save </button>
        <a class="btn btn-sm btn-danger" href="/Team/Show/@Model.TeamId"> Cancel </a>
    </div>
</form>