﻿@model ActivityManager.Models.Comment

@{
    ViewBag.Title = "Edit comment";
}

<h2>@ViewBag.Title</h2>
<form method="post" action="/Comment/Edit/@Model.Id">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.HiddenFor(m => m.Id)
    <div class="panel panel-default">
        <div class="panel-body">
            <strong>  @Html.Label("Content", "Content") </strong>
            <br />
            @Html.TextArea("Content", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Content, "The content field cannot be empty", new { @class = "text-danger " })
            @Html.Hidden("TaskId", Model.TaskId, new { @class = "form-control" })
        </div>
        <div class="panel-footer">
            <button class="btn btn-sm btn-success" type="submit">Save</button>
            <a class="btn btn-sm btn-danger" href="/Task/Show/@Model.TaskId">Cancel</a>
        </div>
    </div>
</form>
