﻿@model ActivityManager.Models.Comment

@{
    ViewBag.Title = "New comment";
}

<h2>@ViewBag.Title </h2>

<div class="panel panel-default">
    <form method="post" action="/Comment/New">
        <div class="panel-body">
            @Html.Label("Content", "Content")
            <br />
            @Html.TextBox("Content", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Content, null,new { @class = "text-danger " })
            @Html.Hidden("TaskId", Model.TaskId, new { @class = "form-control" })
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-sm btn-success"> Add </button>
            <a class="btn btn-sm btn-danger" href="/Task/Show/@Model.TaskId">Cancel</a>
        </div>
    </form>
</div>