﻿@model ActivityManager.Models.NewRole

@{
    ViewBag.Title = "New Role";
}

<h2>@ViewBag.Title</h2>

<form method="post" action="/User/AddRole/?userId=@Model.UserId&teamId=@Model.TeamId&roleId=@Model.RoleId">
    <div class="panel panel-default">
        <div class="panel-body">
            @if (Model.AllRoles != null)
            {
                <label>Role</label>
                @Html.DropDownListFor(m => m.RoleId, new SelectList(Model.AllRoles, "Value", "Text"), "Select user", new { @class = "form-control" })
            }

            @if (Model.RoleId == ViewBag.OrganizerId && Model.AvailableOrganizerTeams != null)
            {
                @Html.Hidden("RoleId", Model.RoleId, new { @class = "form-control" })
                <label>Team</label>
                @Html.DropDownListFor(m => m.TeamId, new SelectList(Model.AvailableOrganizerTeams, "Value", "Text"), "Select team", new { @class = "form-control" })
            }

            @if (Model.RoleId == ViewBag.MemberId && Model.AvailableMemberTeams != null)
            {
                @Html.Hidden("RoleId", Model.RoleId, new { @class = "form-control" })
                <label>Team</label>
                @Html.DropDownListFor(m => m.TeamId, new SelectList(Model.AvailableMemberTeams, "Value", "Text"), "Select team", new { @class = "form-control" })
            }
        </div>
        <div class="panel-footer">
            <button class="btn btn-sm btn-success" type="submit"> Add role </button>
            <a class="btn btn-sm btn-danger" href="/User/Index"> Cancel </a>
        </div>
    </div>
</form>