﻿@model ActivityManager.Models.ApplicationUser

@{
    ViewBag.Title = "Edit User Details";
}

<h2>@ViewBag.Title</h2>

<form method="post" action="/User/Edit/@Model.Id">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.HiddenFor(m => m.Id)
    <div class="panel panel-default">
        <div class="panel-body">
            @Html.Label("UserName", "Username", new { @class = "" })
            <br />
            @Html.TextBox("UserName", null, new { @class = "form-control" })
            <br />
            @Html.Label("Email", "Email", new { @class = "" })
            <br />
            @Html.TextBox("Email", null, new { @class = "form-control" })
            <br />
            @Html.Label("PhoneNumber", "Phone number")
            <br />
            @Html.TextBox("PhoneNumber", null, new { @class = "form-control" })
        </div>
        <div class="panel-footer">
            <button class="btn btn-sm btn-success" type="submit">
                Change user details
            </button>
            <a class="btn btn-sm btn-danger" href="/User/Index"> Cancel </a>
        </div>
    </div>
</form>
