﻿@model ActivityManager.Models.ApplicationUser

@{
    ViewBag.Title = "Users";
}

<ol class="breadcrumb">
    <li>
        <h2>@ViewBag.Title</h2>
    </li>
</ol>

@foreach (var user in ViewBag.UsersList)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                @user.UserName
                <div style="float: right;">
                    <a href="@Url.Action("AddRole", "User", new { userId = user.Id })" class="btn btn-sm btn-success" role="button"> Add new role </a>
                    <a class="btn btn-sm btn-success" href="/User/Edit/@user.Id"> User Details</a>
                </div>
            </h4>
        </div>
        <div class="panel-body">
            @if (@user.PhoneNumber != null)
            {
                <strong> Phone number: </strong> @user.PhoneNumber
            }

            <h2>Roles : </h2>

            @foreach (var role in user.UserRoles)
            {
                if (role == "Member" && user.MemberTeams.Count > 0)
                {
                    foreach (var team in user.MemberTeams)
                    {
                        <form method="post" action="/User/RemoveRole/?id=@user.Id&roleName=@role&teamId=@team.Id">
                            <div class="panel panel-default panel-body">
                                <span>
                                    @role in team @team.Name
                                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                                    <button class="btn btn-sm btn-danger" type="submit" style="float: right;"> Remove role </button>
                                </span>
                            </div>
                        </form>
                    }
                }
                else if (role == "Organizer" && user.OrganizerTeams.Count > 0)
                {
                    foreach (var team in user.OrganizerTeams)
                    {
                        <form method="post" action="/User/RemoveRole/?id=@user.Id&roleName=@role&teamId=@team.Id">
                            <div class="panel panel-default panel-body">
                                <span>
                                    @role in team @team.Name
                                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                                    <button class="btn btn-sm btn-danger" type="submit" style="float: right;"> Remove role </button>
                                </span>
                            </div>
                        </form>
                    }
                }
                else
                {
                    <form method="post" action="/User/RemoveRole/?id=@user.Id&roleName=@role">
                        <div class="panel panel-default panel-body">
                            <span>
                                @role
                                @Html.HttpMethodOverride(HttpVerbs.Delete)
                                <button class="btn btn-sm btn-danger" type="submit" style="float: right;"> Remove role </button>
                            </span>
                        </div>
                    </form>
                }
            }
        </div>
    </div>
}


