﻿@model ActivityManager.Models.Project

@{
    ViewBag.Title = "Edit project " + @Model.Name;
}

<h2>@ViewBag.Title</h2>
<form method="post" action="/Project/Edit/@Model.Id">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.Id)
    <div class="panel panel-default">
        <div class="panel-body">
            <strong> @Html.Label("Name", "Name") </strong>
            <br />
            @Html.TextBox("Name", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger " })
            <br />
            <strong>  @Html.Label("Description", "Description") </strong>
            <br />
            @Html.TextArea("Description", null, new { @class = "form-control" })
        </div>
        <div class="panel-footer">
            <button class="btn btn-sm btn-success" type="submit">Save</button>
            <a class="btn btn-sm btn-danger" href="/Project/Show/@Model.Id">Cancel</a>
        </div>
    </div>
</form>
