﻿@{
    ViewBag.Title = "Projects";
}

<h2>@ViewBag.Title</h2>

@foreach (var project in ViewBag.Projects)
{
<div class="panel panel-default">
    <h1>@ViewBag.message</h1>
    <div class="panel-heading">
        <h3>@project.Name</h3>
    </div>
    <div class="panel-body">
        <strong>Description:</strong> @project.Description
        <br />
        <strong>Created On:</strong> @project.CreatedOn
        <br />
        <strong>Created By:</strong> @project.User.Email
        <br />
    </div>
    <div class="panel-footer">
        <form method="post" action="/Project/Delete/@project.Id">
            <a class="btn btn-sm btn-success" href="/Project/Show/@project.Id">View</a>
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="btn btn-sm btn-danger" type="submit"> Delete </button>
        </form>
    </div>
</div>
    <br />
}

