﻿@model ActivityManager.Models.Project

@{
    ViewBag.Title = "New project";
}

<h2>@ViewBag.Title </h2>
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
<div class="panel panel-default">
    <form method="post" action="/Project/New">
        <div class="panel-body">
            @Html.Label("Name", "Name")
            <br />
            @Html.TextBox("Name", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger " })
            <br />
            @Html.Label("Description", "Description")
            <br />
            @Html.TextArea("Description", null, new { @class = "form-control" })
            @Html.Hidden("TeamId", Model.TeamId, new { @class = "form-control" })
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-sm btn-success"> Add project </button>
            <a class="btn btn-sm btn-danger" href="/Project/GetAll">Back to projects</a>
        </div>
    </form>
</div>
