﻿@model ActivityManager.Models.Project

@{
    ViewBag.Title = "Project " + @Model.Name;
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.message != null)
{
    <br />
    <div class="alert alert-success" role="alert">
        <h4>@ViewBag.message</h4>
    </div>
}

<div class="panel panel-default">
    <div class="panel-heading">
        <a class="btn btn-sm btn-success" href="/Project/Edit/@Model.Id">Edit</a>
        <a class="btn btn-sm btn-success" href="/Team/Show/@Model.TeamId">Back to team</a>
    </div>
    <div class="panel-body">
        <strong> Description: </strong> @Model.Description
        <br />
        <strong> Created On: </strong> @Model.CreatedOn
        <br />
        <strong> Created By: </strong> @Model.User.Email
    </div>
    <div class="panel-footer">
        <h3>
            Tasks
            <a href="@Url.Action("New", "Task", new { projectId = @Model.Id })" class="btn btn-sm btn-success" role="button" style="float: right;"> Add new task</a>
        </h3>
        <br />
        @foreach (var task in Model.Tasks)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>@task.Title</h4>
                </div>
                <div class="panel-body">
                    <strong> Description: </strong> @task.Description
                    <br />
                    <strong> Status: </strong> @task.TaskStatus.Status
                    <br />
                    @if (@task.AssignedToId != null)
                    {
                        <label> Assigned to: </label> @task.AssignedTo.Email
                        <br />
                    }
                    @if (@task.StartDate != null)
                    {
                        <label> Start date: </label> @task.StartDate
                        <br />
                    }
                    @if (@task.EndDate != null)
                    {
                        <label> End date: </label> @task.EndDate
                        <br />
                    }
                    <strong> Created on: </strong> @task.CreatedOn
                    <br />
                    <strong> Created by: </strong> @task.CreatedBy.Email
                    <br />
                </div>
                <div class="panel-footer">
                    <form method="post" action="/Task/Delete/@task.Id">
                        <a class="btn btn-sm btn-success" href="/Task/Show/@task.Id"> View </a>
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <button class="btn btn-sm btn-danger" type="submit"> Delete </button>
                    </form>
                </div>
            </div>
        }
    </div>
</div>
